apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ pki_dir }}/ca.crt
    server: https://192.168.56.11:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
users:
- name: kubernetes-admin
  user:
    client-certificate: {{ pki_dir }}/admin.crt
    client-key: {{ pki_dir }}/admin.key