apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ pki_dir }}/ca.crt
    server: https://192.168.56.11:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: bootstrap
  name: bootstrap@kubernetes
current-context: bootstrap@kubernetes
users:
- name: bootstrap
  user:
    token: "{{ bootstrap_token_id }}.{{ bootstrap_token_secret }}"