apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ paths.kubernetes.pki_dir }}/ca.pem
    server: https://{{ kubernetes_public_address }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
current-context: system:kube-scheduler@kubernetes
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ paths.kubernetes.pki_dir }}/kube-scheduler.pem
    client-key: {{ paths.kubernetes.pki_dir }}/kube-scheduler-key.pem