[Unit]
Description=Kubernetes Kubelet 
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ 
After=containerd.service 
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet 
{{ kubelet_args | join(' ') }} 
Restart=always
RestartSec=5
LimitNOFILE=65536
TimeoutStartSec=90
TimeoutStopSec=90

[Install] WantedBy=multi-user.target