apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
  labels:
    component: kube-scheduler
    tier: control-plane
spec:
  containers:
  - name: kube-scheduler
    image: registry.k8s.io/kube-scheduler:v{{ kubernetes_version }}
    command:
      - /usr/local/bin/kube-scheduler
      - --kubeconfig={{ config_dir }}/kube-scheduler.kubeconfig
      - --leader-elect=true
    volumeMounts:
    - name: kubernetes-config
      mountPath: /etc/kubernetes/configs
      readOnly: true
  hostNetwork: true
  volumes:
  - name: kubernetes-config
    hostPath:
      path: {{ config_dir }}
      type: Directory