apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  containers:
  - name: kube-apiserver
    image: k8s.gcr.io/kube-apiserver:v{{ kubernetes_version }}
    command:
    - kube-apiserver
    - --advertise-address={{ kubernetes_public_address }}
    - --bind-address={{ kube_apiserver_bind_address }}
    - --secure-port={{ kube_apiserver_port }}
    {% for arg in kube_apiserver_args %}
    - {{ arg }}
    {% endfor %}
    volumeMounts:
    - name: pki
      mountPath: {{ pki_dir }}
      readOnly: true
    - name: config
      mountPath: {{ config_dir }}
      readOnly: true
  volumes:
  - name: pki
    hostPath:
      path: {{ pki_dir }}
  - name: config
    hostPath:
      path: {{ config_dir }}