[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/
After=network.target

[Service]
ExecStart={{ apiserver_binary_dest }} \
    --bind-address={{ kube_apiserver_bind_address }} \
    --secure-port={{ kube_apiserver_port }} \
    {% for arg in kube_apiserver_args %} {{ arg }} {% endfor %}
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target