global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend kubernetes_frontend
    bind *:{{ haproxy_port }}
    mode tcp
    option tcplog
    default_backend kubernetes_backend

backend kubernetes_backend
    mode tcp
    balance roundrobin
    {% for server in haproxy_backend_servers %}
    server {{ server.name }} {{ server.address }} check
    {% endfor %}