[Unit]
Description=Kubernetes Kube-Proxy
After=network.target

[Service]
ExecStart={{ kube_proxy_binary }} \
    --config=/var/lib/kube-proxy/config.yaml \
    --kubeconfig={{ kube_proxy_kubeconfig }} \
    --v={{ kube_proxy_log_level }}
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target